


    <div class="col-xs-3">
<!-- 　　↑　各indexでコンテナ、rowを作っているためcolのみ   -->

<div class="side_user">

<h2>User info</h2>

  <table class="table">
    <tr>
      <tb><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: " pull-left profile-img", fallback: "no_image.jpg" %>
        <!-- rails g migration AddProfileImageIdToUsers profile_image_id:string を実行しないと表示できない -->
        <% if @user.id == current_user.id %>
      
      
      <% end %>
      </tb>
    </tr>
    <tr>
      <th>neme</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
    <tr>
      <th>
        <%= link_to edit_user_path(@user), class: 'btn btn-default btn-block' do %>
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
        <% end %>
      </th>
    </tr>
  </table>
</div>

<div class="new">
 <h3 class="new-title">New book</h3>
  <%= form_for(book) do |f| %>
  


  <p>Title</p>
    <%= f.text_field :title %>
 
    <p>Opinion</p>
    <%= f.text_area :body %><br>
 
    <%= f.submit 'Create Book' %>
 
  <% end %>
</div>

</div>

