<div class="sidebar">

<div class="col-xs-4">
  <ul class="nav nav-pills nav-stacked">
    <li></li>
  </ul>

<div class="side_user">


  <table>
    <tr>
      <tb><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
        <!-- rails g migration AddProfileImageIdToUsers profile_image_id:string を実行しないと表示できない -->
          <%= link_to "編集", edit_user_path(@user) %>
          
      </tb>
      <th>neme</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th></th>
    </tr>
  </table>
</div>

<div class="new">
 <h3 class="new-title">New book</h3>
  <%= form_for(book) do |f| %>
  
  <% if book.errors.any? %>
    <div class="error">
      <p class="error-top">
        <%= pluralize(book.errors.count, "error") %>
        prohibited this book from being saved:
      </p>
      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
        <% end %>

  <p>Title</p>
    <%= f.text_field :title %>
 
    <p>Body</p>
    <%= f.text_area :body %><br>
 
    <%= f.submit 'Create Book' %>
 
  <% end %>
</div>

</div>

</div>

