<div class="successfully">
<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
</div>

<%= render 'books/sidebar', book: @showbook, user: @user %>

<div class="show">

<h2 class="p_title">Book detail</h2>

<tbody>
	
      <tr>
        <td><%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %></td>
        <td class="tb"><%=@book.title %></td>
        <td class="tb"><%= @book.body %></td>
        <td class="tb">
        	<% if @book.user == current_user %>
        	<%= link_to "Edit", edit_book_path(@book.id) %>
        	<% end %>
        </td>
        <td class="tb">
	        <% if @book.user == current_user %>
	        <%= link_to "Destroy", book_path(@book), method: :delete %>
	        <% end %>
    	</td>


      </tr>
    
</tbody>



</div>